ipython
ipykernel
marimo

polars
pandas
numpy
pyarrow


#openpyxl
#fastexcel

altair
git+https://github.com/sworley1/worles_altair_theme.git
#plotnine
vl-convert-python
vegafusion[embed]

scikit-learn
statsmodels
scipy

numba

tqdm
